{% include 'header.html' %}

<body>
    <header class="content-center-row">
        Cabeçalho da Aplicação
    </header>
    <nav class="content-center-col">
        Menu
    </nav>
    <main>
        <section class="content-center-row">
            1ª Seção
        </section>
        <section>
            <article class="content-center-col">
                1º Artigo
            </article>
            <article class="content-center-col">
                2º Artigo
            </article>
            <article class="content-center-col">
                3º Artigo
            </article>
        </section>
        <section class="content-center-row">
            3ª Seção
        </section>
    </main>
    <footer class="content-center-row">
        Rodapé da Aplicação
    </footer>
</body>